# Docker,
/docker.compose.yaml
/dockerfile
# Database,
/db-init/
/init.sql

# Go modules
/go.mod
/go.sum

# Project source files
/main.go
/handlers.go
/models.go
/pgconnect.go

# Ignore everything else
*
!go.mod
!go.sum
!*.go
!.gitignore

!db-init/
!db-init/**
!init.sql
!dockerfile
!docker-compose.yaml